.App {
  text-align: center;
  width: 600px;
  border: 2px solid lightgrey;
  border-radius: 10px;
}

.request-section{
  position: relative;
}

.request-section-header{
  background-color: black;
  color: white;
}

.request-section-form{
  display: flex;
  justify-content: space-around;
  margin: 0 15px 40px 15px;
}

.input-component input, .input-component select, .input-component option{
  width: 145px;
  height: 22px;
  padding: 1px;
  box-sizing: border-box;
}
