.App {
  text-align: center;
  width: 600px;
  border: 2px solid lightgrey;
  border-radius: 10px;
  position: relative;
}

h1 {
  color: #1261A0;
}

.flip-pages{
  box-sizing: border-box;
  display: flex;
  height: 40px;
}

.flip-page-link{
  background-color: #e7eff5;
  margin-right: 10px;
  border: 2px solid #1261A0;
  border-bottom: 0;
  border-radius: 15px 15px 0 0;
  width: 150px;
  font-size: 18px;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #1261A0;
}

.flip-page-link.selected{
  font-weight: bolder;
  color: white;
  background-color: #1261A0;
  font-size: 18px;
}

.request-section{
  position: relative;
}

.section-header{
  background-color: #1261A0;
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 80px;
  margin-bottom: 20px;
  font-size: 20px;

}

.request-section-form{
  display: flex;
  justify-content: space-around;
  margin: 0 15px 40px 15px;
}

.input-component{
  font-size: 20px;
}

.input-component-title{
  margin: 15px 0;
}

.input-component input, .input-component select, .input-component option{
  min-width: 140px;
  height: 36px;
  padding: 1px;
  box-sizing: border-box;
  font-size: 18px;
  text-align-last: center;
}

.input-component input,:focus .input-component select:focus,
.input-component input:active, .input-component select:focus{
  outline: none;
  border-color: #1261A0;
}

.input-component input, .input-component select{
  border: 2px solid darkgrey;
  border-radius: 10px;
}

.results-parameters{
  text-align: left;
  font-size: 18px;
}
.results-parameters-text{
  margin: 5px 0;
}

.indent-p{
  margin-left: 30px;
}

.result-change-btn{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid;
  font-size: 24px;
  margin-right: 20px;
}

.d3-container{
  border: 1px solid black;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
